/* Feature1 */

position: absolute;
width: 1440px;
height: 818px;
left: 0px;
top: 758px;



/* Rectangle 77 */

position: absolute;
width: 1440px;
height: 818px;
left: 0px;
top: 0px;

/* Grey/white */
background: #FFFFFF;


/* Group 192 */

position: absolute;
width: 1240px;
height: 618px;
left: 100px;
top: 100px;



/* Group 124 */

position: absolute;
width: 608px;
height: 297px;
left: 100px;
top: 100px;



/* Rectangle 5 */

box-sizing: border-box;

position: absolute;
width: 608px;
height: 297px;
left: 100px;
top: 100px;

/* Grey/white */
background: #FFFFFF;
/* Grey/Light */
border: 1px solid #CED4DA;
border-radius: 8px;


/* Group 123 */

position: absolute;
width: 147px;
height: 40px;
left: 144px;
top: 140px;



/* groups_black_24dp (1) 1 */

position: absolute;
width: 40px;
height: 40px;
left: 144px;
top: 140px;



/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Group */

position: absolute;
left: 0%;
right: 0%;
top: 25%;
bottom: 25%;



/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 25%;
bottom: 25%;

/* Primary/Full */
background: #8064A2;


/* People */

position: absolute;
width: 83px;
height: 36px;
left: 208px;
top: 142px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
/* identical to box height */

/* Base/Black */
color: #000000;



/* Find a teacher, coach, or expert for your hobby interest in your locality. Find a partner, teammate, accompanist or collaborator. */

position: absolute;
width: 520px;
height: 81px;
left: 144px;
top: 204px;

font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 27px;

/* Base/Black */
color: #000000;



/* Frame 123 */

box-sizing: border-box;

position: absolute;
width: 122px;
height: 40px;
left: 144px;
top: 317px;

/* Grey/white */
background: #FFFFFF;
/* Primary/Full */
border: 1px solid #8064A2;
border-radius: 8px;


/* Connect */

position: absolute;
width: 61px;
height: 16px;
left: 30px;
top: 12px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 16px;
/* identical to box height, or 114% */

/* Primary/Full */
color: #8064A2;



/* Group 126 */

position: absolute;
width: 608px;
height: 297px;
left: 100px;
top: 421px;



/* Rectangle 5 */

box-sizing: border-box;

position: absolute;
width: 608px;
height: 297px;
left: 100px;
top: 421px;

/* Grey/white */
background: #FFFFFF;
/* Grey/Light */
border: 1px solid #CED4DA;
border-radius: 8px;


/* Group 123 */

position: absolute;
width: 160px;
height: 40px;
left: 144px;
top: 461px;



/* shopping_basket_black_24dp (2) 1 */

position: absolute;
width: 40px;
height: 40px;
left: 144px;
top: 461px;



/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Vector */

position: absolute;
left: 4.17%;
right: 4.17%;
top: 8.42%;
bottom: 12.5%;

/* Red */
background: #C0504D;


/* Product */

position: absolute;
width: 96px;
height: 36px;
left: 208px;
top: 463px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
/* identical to box height */

/* Base/Black */
color: #000000;



/* Find equipment or supplies required for your hobby. Buy, rent or borrow from shops, online stores or from community members. */

position: absolute;
width: 520px;
height: 81px;
left: 144px;
top: 525px;

font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 27px;

/* Base/Black */
color: #000000;



/* Frame 123 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 42px;
gap: 10px;

position: absolute;
width: 122px;
height: 40px;
left: 144px;
top: 638px;

/* Grey/white */
background: #FFFFFF;
/* Primary/Full */
border: 1px solid #8064A2;
border-radius: 8px;


/* Get it */

width: 38px;
height: 16px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 16px;
/* identical to box height, or 114% */

/* Primary/Full */
color: #8064A2;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Group 125 */

position: absolute;
width: 608px;
height: 297px;
left: 732px;
top: 100px;



/* Rectangle 5 */

box-sizing: border-box;

position: absolute;
width: 608px;
height: 297px;
left: 732px;
top: 100px;

/* Grey/white */
background: #FFFFFF;
/* Grey/Light */
border: 1px solid #CED4DA;
border-radius: 8px;


/* Group 123 */

position: absolute;
width: 131px;
height: 40px;
left: 776px;
top: 140px;



/* location_on_black_24dp 1 */

position: absolute;
width: 40px;
height: 40px;
left: 776px;
top: 140px;



/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Vector */

position: absolute;
left: 20.83%;
right: 20.83%;
top: 8.33%;
bottom: 8.33%;

/* Green */
background: #77933C;


/* Place */

position: absolute;
width: 67px;
height: 36px;
left: 840px;
top: 142px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
/* identical to box height */

/* Base/Black */
color: #000000;



/* Find a class, school, playground, auditorium, studio, shop or an event venue. Book a slot at venues that allow booking through hobbycue. */

position: absolute;
width: 520px;
height: 81px;
left: 776px;
top: 204px;

font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 27px;

/* Base/Black */
color: #000000;



/* Frame 123 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 32px;
gap: 10px;

position: absolute;
width: 122px;
height: 40px;
left: 776px;
top: 317px;

/* Grey/white */
background: #FFFFFF;
/* Primary/Full */
border: 1px solid #8064A2;
border-radius: 8px;


/* Meet up */

width: 58px;
height: 16px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 16px;
/* identical to box height, or 114% */

/* Primary/Full */
color: #8064A2;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Group 127 */

position: absolute;
width: 608px;
height: 297px;
left: 732px;
top: 421px;



/* Rectangle 5 */

box-sizing: border-box;

position: absolute;
width: 608px;
height: 297px;
left: 732px;
top: 421px;

/* Grey/white */
background: #FFFFFF;
/* Grey/Light */
border: 1px solid #CED4DA;
border-radius: 8px;


/* Group 123 */

position: absolute;
width: 171px;
height: 40px;
left: 776px;
top: 461px;



/* event_available_black_24dp 2 */

position: absolute;
width: 40px;
height: 40px;
left: 776px;
top: 461px;



/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Rectangle 2676 */

position: absolute;
left: 20%;
right: 20%;
top: 32.5%;
bottom: 20%;

/* Blue 1 */
background: #0096C8;


/* Vector */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 4.17%;
bottom: 12.5%;

background: #0096C8;


/* Vector */

position: absolute;
left: 32.5%;
right: 32.11%;
top: 42.5%;
bottom: 31.37%;

/* Grey/white */
background: #FFFFFF;


/* Program */

position: absolute;
width: 107px;
height: 36px;
left: 840px;
top: 463px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
/* identical to box height */

/* Base/Black */
color: #000000;



/* Find events, meetups and workshops related to your hobby. Register or buy tickets online. */

position: absolute;
width: 520px;
height: 54px;
left: 776px;
top: 525px;

font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 27px;

/* Base/Black */
color: #000000;



/* Frame 123 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 36px;
gap: 10px;

position: absolute;
width: 121px;
height: 40px;
left: 776px;
top: 638px;

/* Grey/white */
background: #FFFFFF;
/* Primary/Full */
border: 1px solid #8064A2;
border-radius: 8px;


/* Attend */

width: 49px;
height: 16px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 16px;
/* identical to box height, or 114% */

/* Primary/Full */
color: #8064A2;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
